* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%; 
    background: url(../img/bg_img.png) no-repeat;
    background-size: cover; 
    font-family: 'Ubuntu';
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;   
}
li {
    text-decoration: none;
}
:hover {
    transition: all 0.8s;
}
.container {
    max-width: 444px;
    margin: auto;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_wrap {
    padding: 17px 79px; 
    display: flex;
    justify-content: space-between; 
}
.header_logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: start;
    color: #FFFFFF;
}
.header_logo_text:hover {
    color: rgba(60, 184, 120, 1);
}
.menu_wrapper {
    display: flex;
}
.header_icons {
    position: relative;
}
.header_icons_menu {
    display: flex;
}
.header_text_menu {
    display: flex;
}
.header_icons_menu {
    margin-right: 27px;
}
.header_icons_item {
    margin-left: 27px;
}
.header_icons_item_calendar {
    position: absolute;
    top: 0;
    left: 27px;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.header_icons_item_calendar:hover {
    opacity: 1;
}
.header_icons_item_envelope {
    position: absolute;
    bottom: 1px;
    left: 74px;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.header_icons_item_envelope:hover {
    opacity: 1;
}
.header_icons_item_compass {
    position: absolute;
    bottom: 0;
    left: 126px;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.header_icons_item_compass:hover {
    opacity: 1;
}
.header_menu {
    padding-top: 5px;
}
.sing_up:hover {
    color: rgba(60, 184, 120, 1);
}
.log_in:hover {
    color: rgba(60, 184, 120, 1);
}
.header_text_menu::before {
    content: "";
    display: block;
    width: 1px;
    height: 19px;
    margin-right: 27px;
    background: #fff;
}
.header_menu_item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: start;
    color: #FFFFFF;
    padding-left: 5px;
}
.form {
    background: #FFFFFF;
    padding: 31px 61px 38px 61px;
    margin-top: 54px;
    position: relative;
}
.form::before {
    content: "" ;
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.block_sign_up_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title_sign_up {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.title_log_in {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.title_log_in:hover {
    color: #01813F;
    text-decoration: underline;   
}
.block_sign_up_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.btn_facebook {
    background-color: rgba(48, 93, 184, 1);
    padding: 15px 22px 0 15px;
    display: flex;
    border-radius: 4px;
    position: relative;
}
.btn_facebook:hover {
    background-color: #022263;
}
.btn_google {
    background-color: rgba(223, 74, 50, 1);
    padding: 15px 27px 15px 17px;
    display: flex;
    border-radius: 4px;
    position: relative;
}
.btn_google:hover {
    background-color: #AB1F09;
}
.btn_link {
    color: #fff;
    padding-left: 27px;
}
.btn_fb_link::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 35px;
    display: block;
    width: 1px;
    height: 28px;
    margin-left: 10px;
    background: #2B0D09;
    opacity: 0.1;
}
.btn_google_link::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 45px;
    display: block;
    width: 1px;
    height: 28px;
    margin-left: 10px;
    background: #2B0D09;
    opacity: 0.1;
}
.or {
    padding-top: 34px;
    color: rgba(132, 132, 132, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}
.line_or {
    position: relative;
}
.or::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 1px;
    display: block;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
}
.or::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 1px;
    display: block;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
}
.entry_field {
    margin-top: 17px;
}
.entry_field_form {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0 15px 20px;
    margin-bottom: 15px;
}
.entry_field_form:last-child {
    margin-bottom: 12px;
}
.entry_field_form:focus {
    color: #434343;
    outline: none;
    background: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.entry_field_checkbox {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.checkbox {
    color: rgba(60, 184, 120, 0.8);
}
.checkbox:hover {
    color: #01813F;
    text-decoration: underline;
}
.form_bottom {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 99px;
    margin-top: 20px;
}
.form_bottom:hover {
    background: #01813F;
}
.bottom_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
